In [ ]:
!pip install openai

In [ ]:
import openai

In [ ]:
# Open text file that contains your openai key
def get_GTP3_key(filename):
    with open(filename, 'r', encoding='utf-8') as GTP3keyfile:
        return GTP3keyfile.read()

In [ ]:
# Load the openai key into the openai module api_key string variable
openai.api_key = get_GTP3_key('GPT3_Key.txt')

In [ ]:
# Create a function with some default values that calls the openai API returns the results 
def call_openai(search_prompt, engine='text-davinci-003', temp=0.3, top_p=1.0, tokens=400, freq_pen=0.0, pres_pen=0.0, stop=['END']):
    print(engine)
    print(temp)
    print('===========')
    prompt = search_prompt.encode(encoding='ASCII',errors='ignore').decode()
    response = openai.Completion.create(
        engine=engine,
        prompt=prompt,
        temperature=temp,
        max_tokens=tokens,
        top_p=top_p,
        frequency_penalty=freq_pen,
        presence_penalty=pres_pen,
        stop=stop)
    text = response['choices'][0]['text'].strip()

    return text

In [ ]:
# call davinci-003 to create some IT Jokes
prompttext = 'Tell me 5 really funny jokes about Web Developers that will make me laugh out loud'
temp = 0.7
engine = 'text-davinci-003'

In [ ]:
output = call_openai(prompttext, engine=engine, temp=temp)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

text-davinci-003
0.7
===========
Prompt:  Tell me 5 really funny jokes about Web Developers that will make me laugh out loud
=================================================================
1. What did the web developer say when he found a bug in his code? Oh dear, I'm debugging.

2. What did the web developer say when he ran out of ideas? Time to Google it.

3. What did the web developer say when he found an error in his code? 404 not funny.

4. What did the web developer say when his project was late? I'm running behind schedule.

5. What did the web developer say when the client asked for an impossible feature? That's not in the scope of this project.

In [ ]:
# call davinci-003 to show calculations for converting Degrees into latitude, Longitude Decimals
prompttext = 'Give a 2 examples and show the calculations of how to convert Degrees into decimal latitude and Longitude'
engine = 'text-davinci-003'
temp = 0.7

In [ ]:
output = call_openai(prompttext,temp=temp)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

text-davinci-003
0.7
===========
Prompt:  Give a 2 examples and show the calculations of how to convert Degrees into decimal latitude and Longitude
=================================================================
Example 1:

Degrees: Latitude: 37째36'15"
Longitude: 122째07'54"

Decimal Conversion:

Latitude: 37.60417
Longitude: 122.13167

Calculation:

Latitude: 37 + (36/60) + (15/3600) = 37.60417
Longitude: 122 + (7/60) + (54/3600) = 122.13167

Example 2:

Degrees: Latitude: 41째45'12"
Longitude: 87째38'20"

Decimal Conversion:

Latitude: 41.75333
Longitude: 87.63889

Calculation:

Latitude: 41 + (45/60) + (12/3600) = 41.75333
Longitude: 87 + (38/60) + (20/3600) = 87.63889

In [ ]:
# call davinci-003 to show calculations for converting Degrees into latitude, Longitude Decimals
prompttext = 'Create a list of AC/DC Albums listing the Album name, Songs on the album, sorted by year released in ascending order\n\nLIST OF ALBUMS:\nNAME (YEAR):\n    SONGS:\n        -'
engine = 'text-davinci-003'
temp = 0.0
stop = '\n'
tokens = 1444
print(prompttext)

Create a list of AC/DC Albums listing the Album name, Songs on the album, sorted by year released in ascending order

LIST OF ALBUMS:
NAME (YEAR):
    SONGS:
        -

In [ ]:
output = call_openai(prompttext,engine=engine,temp=temp)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

text-davinci-003
0.0
===========
Prompt:  Create a list of AC/DC Albums listing the Album name, Songs on the album, sorted by year released in ascending order

LIST OF ALBUMS:
NAME (YEAR):
    SONGS:
        -
=================================================================
1. High Voltage (1975):
    - It's a Long Way to the Top (If You Wanna Rock 'n' Roll)
    - Rock 'n' Roll Singer
    - The Jack
    - Live Wire
    - T.N.T.
    - Can I Sit Next to You Girl
    - Little Lover
    - She's Got Balls
    - High Voltage

2. Dirty Deeds Done Dirt Cheap (1976):
    - Dirty Deeds Done Dirt Cheap
    - Love at First Feel
    - Big Balls
    - Rocker
    - Problem Child
    - There's Gonna Be Some Rockin'
    - Ain't No Fun (Waiting 'Round to Be a Millionaire)
    - Ride On
    - Squealer

3. Let There Be Rock (1977):
    - Go Down
    - Dog Eat Dog
    - Let There Be Rock
    - Bad Boy Boogie
    - Overdose
    - Hell Ain't a Bad Place to Be
    - Whole Lotta Rosie

4. Powerage (1978):
    - Rock 'n' Roll Damnation
    - Down Payment Blues
    - Gimme a Bullet
    - Riff Raff
    - Sin City
    - What's Next to the Moon
    - Gone Shootin'
    - Up to My Neck in You
    - Kicked in the Teeth

5. Highway to Hell (1979):
    - Highway to Hell
    - Girls Got Rhythm
    - Walk All Over You
    - Touch Too Much
    - Beating Around the Bush
    - Shot Down in Flames
    - Get It Hot
    - If You Want Blood (You've Got It)
    - Love Hungry Man
    - Night Prowler

In [ ]:
# call babbage-001 to get tips on becomming a successful Database Developer
prompttext = 'Provide 5 tips for be a successful Database Developer'
engine = 'text-davinci-003'
temp = 0.7
stop = '\n'
tokens = 300
print(prompttext)

Provide 5 tips for be a successful Database Developer

In [ ]:
output = call_openai(prompttext,engine=engine,temp=temp)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

text-davinci-003
0.7
===========
Prompt:  Provide 5 tips for be a successful Database Developer
=================================================================
1. Stay Up-to-Date: Database technologies are constantly changing and evolving, and to be a successful database developer, you must stay up-to-date with the latest developments and trends.

2. Learn the Basics: As with any profession, knowledge of the basics is essential for success. Make sure you have a strong understanding of the fundamentals of database development, such as relational databases, SQL, and database design.

3. Understand the Business Needs: Database developers need to understand the business requirements of the organization they are working with. This means they need to take the time to understand the business needs of the organization and the data requirements to meet those needs.

4. Develop Good Problem-Solving Skills: Database developers need to be able to think through problems and develop solutions. Being able to diagnose and troubleshoot technical problems quickly and efficiently is a valuable skill.

5. Test Your Code: Testing your code is essential to ensure your database is working properly and to prevent any potential issues. Make sure to test your code thoroughly before deploying it to a production environment.

In [ ]:
# call code-davinci-002 to genrate som sql queries for Oracle
prompttext = 'Create the PL/SQL code for a select query that use the LISTAGG function.'
engine = 'code-davinci-002'
temp = 0.0
print(prompttext)

Create the PL/SQL code for a select query that use the LISTAGG function.

In [ ]:
output = call_openai(prompttext,engine=engine,temp=temp)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

code-davinci-002
0.0
===========
Prompt:  Create the PL/SQL code for a select query that use the LISTAGG function.
=================================================================
The query should return the following columns:

- The department number
- The department name
- The list of employees in the department

The list of employees should be a comma separated list of employee names.

The query should return the departments in ascending order of department number.

The query should return the employees in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name.

The query should return the employees in the list in ascending order of employee name

In [ ]:
# call GPT-3 to generate a SQL Server database design for a ecommerce site
prompttext = 'Create a SQL Server 2016 database design including tables, datatypes with NULL and NOT Null values, primary and foreign keys realtionship between the tables for a web ecommerce store.\n'
engine = 'text-davinci-003'
temp = 0.0
top_p = 0.5
tokens = 1500
stop='\n'
print(prompttext)

Create a SQL Server 2016 database design including tables, datatypes with NULL and NOT Null values, primary and foreign keys realtionship between the tables for a web ecommerce store.

In [ ]:
output = call_openai(prompttext,engine=engine,temp=temp,top_p=top_p, tokens=tokens)
print('Prompt: ', prompttext)
print('=================================================================')
print(output)

text-davinci-003
0.0
===========
Prompt:  Create a SQL Server 2016 database design including tables, datatypes with NULL and NOT Null values, primary and foreign keys realtionship between the tables for a web ecommerce store.

=================================================================
Table: Products

Columns:
ProductID (int, NOT NULL, Primary Key)
ProductName (varchar(50), NOT NULL)
ProductDescription (varchar(255), NULL)
Price (decimal, NOT NULL)

Table: Categories

Columns:
CategoryID (int, NOT NULL, Primary Key)
CategoryName (varchar(50), NOT NULL)

Table: ProductCategories

Columns:
ProductCategoryID (int, NOT NULL, Primary Key)
ProductID (int, NOT NULL, Foreign Key)
CategoryID (int, NOT NULL, Foreign Key)

Table: Orders

Columns:
OrderID (int, NOT NULL, Primary Key)
OrderDate (datetime, NOT NULL)
CustomerID (int, NOT NULL, Foreign Key)

Table: OrderDetails

Columns:
OrderDetailID (int, NOT NULL, Primary Key)
OrderID (int, NOT NULL, Foreign Key)
ProductID (int, NOT NULL, Foreign Key)
Quantity (int, NOT NULL)

Table: Customers

Columns:
CustomerID (int, NOT NULL, Primary Key)
FirstName (varchar(50), NOT NULL)
LastName (varchar(50), NOT NULL)
Address (varchar(255), NULL)
City (varchar(50), NULL)
State (varchar(50), NULL)
Zip (varchar(50), NULL)
Email (varchar(50), NOT NULL)

In [ ]:
print(type(output))

<class 'str'>